<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
	 xmlns:poll="http://typo3.org/ns/CodingMs/Poll/ViewHelpers">
	<f:section name="Default">
		<!-- poll: Partials/Poll/Question/ErrorMessages.html Default [begin] -->

		<!-- Show error message?! -->
		<f:if condition="{poll:variable.get(name: 'messages.{question.uid}', useRawKeys: 1)}">
			<div class="alert alert-danger"><f:format.raw>{poll:variable.get(name: 'messages.{question.uid}', useRawKeys: 1)}</f:format.raw></div>
		</f:if>

		<!-- poll: Partials/Poll/Question/ErrorMessages.html Default [end] -->
	</f:section>
</div>
