<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:section name="Default">
		<!-- poll: Partials/Poll/Question/ShowHrBefore.html Default [begin] -->

		<!-- Show HR-Tag before question?! -->
		<f:if condition="{question.showHrBefore}">
			<hr />
		</f:if>

		<!-- poll: Partials/Poll/Question/ShowHrBefore.html Default [end] -->
	</f:section>
</div>